.projects-header {
  width: 1000px;
  height: 60px;
  // background: #5bc0be;
  ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      color: #FC5130;
      cursor: default;
      transition: .1s;
      letter-spacing: 1px;
      &:hover {
        color: #FFA591;
      }
    }
  }
}
#projects-container {
  // background: #efefef;
  box-sizing: border-box;
  position: relative;
  // border: 1px solid #ddd;
  width: 1000px;
  height: 650px;

  :nth-child(n) {
    position: absolute;
    background: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    // opacity: 0;
    // outline: 1px solid rgba(0,0,0,.1);
    .display {
      width: 95%;
      height: 95%;
      background: #fff;
      box-shadow: 0px 3px 3px rgba(0,0,0,.2);
    }
    .cover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: .8;
      transition: .5s;
      &:hover {
        opacity: 0;
      }
    }

  }
  #box1 {
    left: 0%;
    top: 0%;
    width: 25%;
    height: 0%;
    .display {
      background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url('../images/art-1.png');
      background-size: cover;
      background-position: center;
    }
  }
  #box2 {
    left: 25%;
    top: 0%;
    width: 25%;
    height: 0%;
    .display {
      background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url('../images/art-2.png');
      background-size: cover;
      background-position: center;
    }
  }
  #box3 {
    left: 100%;
    top: 0%;
    height: (1/3) * 100%;
    width: 0%;
    .display {
      background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url('../images/art-7.png');
      background-size: cover;
      background-position: center;
    }
  }
  #box4 {
    left: 25%;
    top: (2 / 3) * 100%;
    height: (1/3) * 100%;
    width: 0%;
    .display {
      background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url('../images/art-3.png');
      background-size: cover;
      background-position: center;
    }
  }
  #box5 {
    top: 100%;
    left: 25%;
    width: 50%;
    height: 0%;
    .display {
      background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url('../images/art-6.png');
      background-size: cover;
      background-position: center;
    }
  }
  #box6 {
    left: 75%;
    top: (1/3)*100%;
    width: 25%;
    height: 0%;
    .display {
      background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url('../images/art-4.png');
      background-size: cover;
      background-position: center;
    }
  }
  #box7 {
    left: 100%;
    top: (2/3) * 100%;
    height: (1/3) * 100%;
    width: 0%;
    .display {
      background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url('../images/art-5.png');
      background-size: cover;
      background-position: center;
    }
  }

  display: none;
}
#web-container {
  box-sizing: border-box;
  position: relative;
  // border: 1px solid #ddd;
  width: 1000px;
  height: 650px;
  .slick-next,.slick-prev {
    background: #ddd;
    font-size: 3em;
  }
  .web-display {
    height: 100%;
    .web1,.web2,.web3 {
      // width: 100px;
      height: 650px;
      // background: red;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ddd;
      img {
        width: 90%;
      }
    }
    .web2 {
      // background: blue;
    }
    .web3 {
      // background: green;
    }
  }

}
